* {
    font-family: sans-serif;
}

body,
html {
    min-height: 100px;
    margin: 0;
    padding: 0;
}

body {
    /* height: 10px; */
    /* position: relative; */
    overflow: hidden;
    background-color: #233142;
    transition: all .7s;
}

.bg {
    position: absolute;
    background: url(bg/1478509580131257774.jpg)center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.blur {
    filter: blur(9px);
}

.scale:hover,
.scale:focus {
    transform: scale(1.05);
}

.title1,
.title2 {
    color: white;
    text-align: center;
    display: none;
    margin: 0;
}

.title1 {
    font-size: 100px
}

.title2 {
    margin-top: 2%;
    font-size: 33px;
    margin-bottom: 4%;
}

.title {
    padding: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* margin-left: 25%;
    margin-right:25%;  */

}

.btn {
    position: absolute;
    text-align: center;
    color: white;
    display: none;
    border: 1px solid white;
    border-radius: 8px;
    width: 10%;
    /*12*/
    cursor: pointer;
    padding: 9px;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -5.2%;
    font-size: 21px
}

p{
    font-size: 40px;
    opacity: 0;
}


nav{
    position: absolute;
    background: black;
    width: 100%;
    height: 100vh;
    z-index: 2;
    display: none;
    transform: scaleX(0);
    transform-origin: right;
}

.pdf{
    margin: 0 5% 0 13%;
    opacity: 0;
}

/* .fcol, .scol{
    display: none;
} */

.l1,.l2,.l3,.l4,.l5,.l6{
    opacity:0;
}

.bb{
    color: white;
    opacity: 0;
    text-align: center;
    margin-top: 10%;
    font-family: 
}

.column{
    display: flex;
    justify-content: center;
    line-height: 80px
}

ul{
    margin-right:90px;
    font-size: 40px
}



.show{
    display: block;
    animation: slide 1s ease-in forwards;
}


@keyframes slide{
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}

.hide{
    display: block;
    animation: off 1s ease-in-out forwards;
}

@keyframes off{
    from{
        transform: scaleX(1)
    }
    to{
        transform: scaleX(0)
    }
}

span{
    color: white;
}

#bottom{
    position: relative;
    padding-bottom: 350px;
    width: 100%;
    margin: 0 auto 0 auto;
}

.img{
    opacity: 0;
    width: 75px;
    float: right;
    cursor: pointer
}


@media all and (max-width: 960px) {
    .title1{
        font-size: 80px;
        justify-content: center;
    }
    .title2 {
        justify-content: center;
        margin-top: 1%;
        font-size: 30px;
        margin-bottom: 1%;
    }
    .title{
        padding: 50px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    #bottom{
        position: relative;
        padding-bottom: 220px;
        width: 100%;
        margin: 0 auto 0 auto;
    }
    .btn {
        position: absolute; 
        text-align: center;
        color: white;
        display: none;
        border: 1px solid white;
        border-radius: 8px;
        width: 20%;
        /*12*/
        cursor: pointer;
        padding: 9px;
        z-index: 1;
        top: 100%;
        left: 45%;
        margin-left: -5.2%;
        font-size: 21px
    }
    
    
  }

  


